{% extends "main/base.html" %}
{% load static %}

{% block extra-style %}
<style>
    .background {
        margin-top: 0;
        margin-bottom: 0 auto;
        background-image: url("{% static 'img/home_bg.png' %}");
        background-size: cover;
        background-position: center;
        height: 100vh;
        position: relative; /* background를 relative로 지정 */
    }

    .start-button {
        width: 200px;
        height: 100px;
        margin-top: 0; /* margin-top 수정 */
        margin-bottom: 10px;
        border-radius: 0.5em;
        border: none;
        font-size: 50px;
        color: white;
        position: absolute; /* button을 absolute로 지정 */
        bottom: 0; /* bottom을 0으로 지정 */
        left: 50%; /* left를 50%로 지정해서 가운데 정렬 */
        transform: translateX(-50%); /* left를 50%로 지정했기 때문에 가운데 정렬을 위해 transform 사용 */
        background-color: transparent; /* 배경색을 투명하게 설정 */
    }

    .divde-hr {
        margin: 0 auto;
        width: 80%;
    }
</style>
{% endblock %}


{% block content %}
    <div class="background d-flex flex-column">
        <div class="row">
            <div class="col"></div>
            <div class="col-sm-7 d-flex justify-content-center">
                <!--  <div class="img-container">
                    <img src="{% static 'img/logo.png' %}" width="500">
                </div> -->
            </div>
            <div class="col"></div>
        </div>
        <!--  <hr class="divde-hr">-->
        <div class="mt-auto">
            <div class="row">
                <div class="col"></div>
                <div class="col-sm-6 d-flex justify-content-center">
                    <button class="start-button">
                        <img src="{% static 'img/home_strt.png' %}">
                    </button>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra-script %}
{% endblock %}

