.card{
    /* border-color:#f2f2f2;
    border-width: 5px; */
    box-shadow: 0 2px 5px rgba(0,0,0,.25)

}

.card-header{
    border:none;
    background-color: white;

}

.card-body{
    background-color: white;
    /* border-radius: 1em; */
    /* border-top: 1px solid; */
}




